* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #240046; */
}
    
    .hero {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(to bottom, #3c096c, #10002b);
    }

    .hero h1 {
        color: white;
        font-size: 120px;
    }
   
    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background-color: #10002b;
    }

    .about-card {
        height: 50em;
        width: 100em;
        background-color: #3c096c;
        border-radius: 20px;
        border-color: #3c096c;
        border-style: solid;
    }